ul {
  border: 2px solid lightgray;
  border-radius: 7px;
  padding: 2rem;
}

li {
  list-style-type: none;
  border: 1px solid lightgray;
  margin: 5px 0;
  padding: 7px;
}

li:hover {
  background-color: rgb(168, 243, 205);
}

.goals {
  background: aliceblue;
}
